{% extends 'base.html.twig' %}

{% block title %}Hello CvController!{% endblock %}

{% block body %}

<div class="projects">
    {% for p in Project %}
    <li>{{ p.name }}</li>
    <li>{{ p.date|date('d-m-Y') }}</li>
    <li>{{ p.description }}</li>
</div>

<div class="experiences">experiences</div>
<div class="techno">techno</div>
<div class="training">training</div>
<div class="hobby">hobby</div>





{% endfor %}

{% endblock %}
