.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
  padding-left: 2rem;
}
.projects h2 {
  text-align: center;
}
.projects li {
  list-style-type: none;
}
.projects .underlined {
  text-decoration: underline;
}

.stack, .experience, .hobby {
  padding-left: 2rem;
}
.stack h2, .experience h2, .hobby h2 {
  text-align: center;
}
.stack li, .experience li, .hobby li {
  list-style-type: none;
}