{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1 class="app_title">Bonjour !</h1>
<h2 class="app_catchpharse">bienvenue sur mon super portfolio !</h2>

{% endblock %}
