<h1>Hi! Please confirm your email!</h1>

<p>
    Veuillez confirmer votre adresse email en cliquant sur le lien que nous avons envoyé sur vote boite mail <br><br>
    {# <a href="{{ signedUrl|raw }}">Confirm my Email</a>. #}
   {#  This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}. #}
</p>


