.contact-form{
    border: 3px solid red;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}.required{
    color: blue;
}