.contact-form{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items:center;
    align-items: center;
    align-content:center;
    input {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    label {
        display: none
    }
}
