form {
    width: 50%;
    margin: auto;
    margin-top: 05%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    .form-control{
        width: 35%;
    }
    .submit{
        width: 20%;
    }
}
