<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/base.css">
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>

<body>
    <header>
        <nav class="top_nav">
            <a class="nav_link" href="">Se connecter</a>
            <a class="nav_link" href="">Se déconnecter</a>
            <a class="nav_link" href="">admin dashboard</a>
            <a class="nav_link" href="">Mon CV</a>
            <a class="nav_link" href="">contact</a>
        </nav>
    </header>


    {% for error in app.flashes('login-error') %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endfor %}

    {% for success in app.flashes('success') %}
    <div class="alert alert-danger" role="alert">{{ success }}</div>
    {% endfor %}

    {% block body %}{% endblock %}
    <footer>
        <nav class="footer_nav">
            <a href="">RGPD</a>
            <a href="">Mentions légales</a>
        </nav>
    </footer>



</body>

</html>